{%extends 'base_index.html'%}
{%block title%} Herbarium - Angiosperms {%endblock%}
{%load static%}


{%block content %}


<section>
    <h2>Angiosperms Section</h2>
<p>

Angiosperms are vascular plants with stems, roots, and leaves. The seeds of the angiosperm are found in a flower. These make up the majority of all plants on earth. The seeds develop inside the plant organs and form fruit. Hence, they are also known as flowering plants.

Angiosperms are the most advanced and beneficial group of plants. They can grow in various habitats as trees, herbs, shrubs, and bushes.
The classification of angiosperms:
<ol>
<li>Monocotyledons</li>
<li>Dicotyledons</li>
</ol>
</p>    
{% for angio in angio_items %}
<div class="card">
    <img src="{{ angio.image.url }}" alt="{{ angio.name }}">
    <div class="card-text">
        <h3>Name: {{ angio.name }}</h3>
        <h3>Family: {{ angio.family }}</h3>
    </div>
</div>
{% endfor %}
  

</section>
{%endblock%}