<!DOCTYPE html>
<html>
<head>
    <title>Plant Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Plant Analytics</h1>

    <h2>Number of Plants by Family</h2>
    <table>
        <thead>
            <tr>
                <th>Family</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for family in family_counts %}
                <tr>
                    <td>{{ family.family }}</td>
                    <td>{{ family.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <canvas id="familyChart"></canvas>
</body>
    <script>
        var familyLabels = [
            {% for family in family_counts %}
                "{{ family.family }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        var familyData = [
            {% for family in family_counts %}
                {{ family.total }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        var ctx = document.getElementById('familyChart').getContext('2d');
        var familyChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: familyLabels,
                datasets: [{
                    label: '# of Plants',
                    data: familyData,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });
    </script>
</html>
